#header {
  margin-bottom:3% !important;
}

/* Code pour la page Propos*/


/* Code pour la page Accueil*/

@import url(http://fonts.googleapis.com/css?family=Abel);
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: normal;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
html, body { height: 100%; font-family: "Abel"; }
body {
    background: grey;
}
.menu {
    cursor: pointer;
    padding: 15px;
    max-height: 100%;
    overflow: hidden;
}
.menu .line {
    height: 4px;
    display: block;
    width: 40px;
    background: #FFF;
    box-shadow: 0 1px 6px #000;
    margin: 10px;
    opacity: 1;
    transition: all 500ms ease;
}
.menu.active .line:nth-child(1) {
    height: 1000px;
    width: 250px;
    margin: -20px;
    box-shadow: 0 0 0 rgba(1, 1, 1, 0);
}
.menu.active .line:nth-child(2),
.menu.active .line:nth-child(3) {
    opacity: 0;
}
.nav {
    padding: 20px;
}
.menu:not(.active) .nav li {
    opacity: 0;
    margin-bottom: -10px;
}
.menu .nav li {
    opacity: 1;
    font-size: 16px;
    margin-bottom: 20px;
    transition: opacity 500ms ease, margin-bottom 500ms ease, padding-left 250ms ease;
}
.menu .nav li:hover {
    padding-left: 5px;
}


/* Code pour la page Decouvrez*/


.item img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Code pour le footer */

.footer-distributed{
    background-color: #0f1215;
    box-shadow: 0 1px 1px 0 rgba(15, 18, 21, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
}

.img-footer{
    height: 18vh;
    width: 10vw;
    margin-left: 10vw;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-icons{
    padding-left: 35%;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}